.container-profile {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.profile-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile-input {
  flex: 1;
  padding: 5px;
  margin-left: 10px;
}

.profile-actions {
  display: flex;
  justify-content: space-between;
}

.profile-actions .btn {
  margin-right: 10px;
}

.profile-actions .btn:last-child {
  margin-right: 0;
}
